
.todo-wrapper {
  box-sizing: border-box;
  padding: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  height: 500px;
  width: 700px;
  border: solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    
}


.header {
  text-align: center;
  margin: 20px;
  padding: 10px;
  color: orangered;
  font: 4em, bolder;
}
.form-for-todo {
  text-align: center;
  padding: 20px;
  margin: 30px;
}
#item {
  height: 40px;
  width: 300px;
  padding: 5px;
  text-align: center;
}
input[type='text']{
    font-size: 30px;
}
.moveleft{
    text-align: left !important;
}
#buttons {
  background-color: orangered !important;
  color: black;
  border-radius: 20px;
  box-shadow: none;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: 1px solid violet;
}
#buttons:hover{
  background-color: white;
  color: white;
  font-size: 30px;


  -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;

}

#cancel {
    color: red;
    font: bolder;
    cursor: pointer;
    float: right;
    margin-right: 300px;
}
